{% block form %}



    <div class="col-md-5 col-md-offset-1">
        <div class="the-form">
            {{ form_start(formulario) }}
            <p class="the-form__title heading3">
                    Solicita una demo
                </p>

                <div class="the-form__group">
                    {{ form_label(formulario.nombre, 'Nombre') }}
                    {{ form_widget(formulario.nombre, {'attr':{'class':'the-form__input'}}) }}

                </div>

                <div class="the-form__group">
                    {{ form_label(formulario.email, '@mail') }}
                    {{ form_widget(formulario.email, {'attr':{'class':'the-form__input'}}) }}

                </div>

                <div class="the-form__group">

                    {{ form_label(formulario.ciudad, 'Ciudad') }}
                    {{ form_widget(formulario.ciudad, {'attr': {'class': 'the-form_input the-form_select'}}) }}

                </div>

                <div class="the-form__group the-form__group_checkbox">
                    {{ form_row(formulario.privacidad) }}
                </div>

            {{ form_widget(formulario.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}} ) }}
            {{ form_end(formulario) }}
        </div>
    </div>

{% endblock %}