

{% block header %}

<div class="wrapper">
    <div class="container-fluid">
        {% if is_granted('ROLE_USER') %}
            <p>Hola! {{ app.user.email }}</p>
            <a href="{{ path('message')}}">
                <button class="btn-primary">Envía tu opinión</button>
            </a>
            <a href="{{ path('app_logout')}}">
                <button class="btn-primary">Log Out!</button>
            </a>
        {% else %}
            <a href="{{ path('app_login')}}">
                <button class="btn-primary">Login</button>
            </a>
        {% endif %}

        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
        </header>
        {% for message in app.flashes('success')%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}